<div class='container-fluid'>

  <section ng-model='combined'>

    <button ng-show="showButton" class="btn btn-default btn-sm" ng-click='combine(user1,user2,combined)'>
    Compare genes
    </button>
    <img ng-show="showSpinner" src='styles/spinner.gif'> </img>

  <div ng-show="showTable" id="container">
    <div id="row">
      <div id="left">
        <div class="panel panel-default">
          <div class="panel-heading">{{user1.name}} ancestry map</div>
            <div >
              <div id="container1" style="position: relative; width: 500px; height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
        <div class="panel panel-default">
          <div class="panel-heading">{{user2.name}} ancestry map</div>
            <div >
              <div id="container2" style="position: relative; width: 500px; height: 300px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="showTable" class="panel panel-default">
    <!-- Default panel contents -->

    <div class="panel-heading">Highlights</div>
      <div >
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" >{{alert.msg}}</alert>
      </div>
    </div>

  <div ng-show="showTable" id="container">
    <div id="row">

  	  <div id="left">
  		  <table cellspacing='0'>
        <!-- Table Header -->
        <thead>
          <tr>
            <th> Diseases </th>
            <th> {{ user1.name }} Risk </th>
            <th> {{ user2.name }} Risk </th>
            <th> Compared </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='rask in combined.risks'>
            <td class={{rask.firstWins}}>{{rask.description}}</td>
            <td class={{rask.firstWins}}>{{rask.firstRisk * 100  | number : 2 }}%</td>
            <td class={{rask.firstWins}}>{{rask.secondRisk * 100 | number : 2 }}%</td>
            <td class={{rask.firstWins}}>{{rask.firstWins}}</td>
          </tr>
        </tbody>
      </table>
  	  </div>

  	  <div id="right">
    	    <table cellspacing='0'>
           <!-- Table Header -->
           <thead>
             <tr>
               <th> Inherited Conditions </th>
               <th> {{ user1.name }} mutations</th>
               <th> {{ user2.name }} mutations</th>
               <th> Compared </th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat='carrier in combined.carriers'>
               <td class={{carrier.firstWins}}>{{carrier.description}}</td>
               <td class={{carrier.firstWins}}>{{carrier.firstMutations }}</td>
               <td class={{carrier.firstWins}}>{{carrier.secondMutations }}</td>
               <td class={{carrier.firstWins}}>{{carrier.firstWins}}</td>
             </tr>
           </tbody>
         </table>
  	  </div>

	  </div>
  </div>

  </section>
  <script src="lib/angular-charts.js"></script>
</div>
