<div class='container-fluid'>
  <h1> login </h1>
  <section>
    {{ name }}


  <div>
    <input ng-model='query' type='text' placeholder="Filter by">
    <div ng-repeat='risk in risks | filter:{ description : query}'>
      {{risk.description}}
      {{risk.population_risk}}
      {{risk.risk}}
    </div>
  </div>






<ul ui-sortable ng-model="items">
  <li ng-repeat="risk in risks">{{ risk.description }}</li>
</ul>
  <div>
    <div ng-repeat='carrier in carriers'>
      {{carrier.description}}
      {{carrier.mutations}}
    </div>
  </div>
  </section>
</div>
