<div class='container-fluid'>

  <section ng-model='combined'>

    <button ng-show="showButton" class="btn btn-default btn-sm" ng-click='combine(user1,user2,combined)'>
    Compare genes
    </button>
    <img ng-show="showSpinner" src='styles/spinner.gif'> </gif>

  <!-- <table ng-show="showTable">
    <tr>
      <th> Disease Risk</th>
      <th> Inherited Conditions</th>
    </tr>
    <tr>
      <td>
        <table cellspacing='0'>
          <thead>
            <tr>
              <th> Description </th>
              <th> {{ user1.name }} Risk </th>
              <th> {{ user2.name }} Risk </th>
              <th> Compared </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='rask in combined.risks'>
              <td class={{rask.firstWins}}>{{rask.description}}</td>
              <td class={{rask.firstWins}}>{{rask.firstRisk * 100  | number : 2 }}%</td>
              <td class={{rask.firstWins}}>{{rask.secondRisk * 100 | number : 2 }}%</td>
              <td class={{rask.firstWins}}>{{rask.firstWins}}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table cellspacing='0'>
          <thead>
            <tr>
              <th> Description </th>
              <th> {{ user1.name }} </th>
              <th> {{ user2.name }} </th>
              <th> Compared </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='carrier in combined.carriers'>
              <td class={{carrier.firstWins}}>{{carrier.description}}</td>
              <td class={{carrier.firstWins}}>{{carrier.firstMutations }}</td>
              <td class={{carrier.firstWins}}>{{carrier.secondMutations }}</td>
              <td class={{carrier.firstWins}}>{{carrier.firstWins}}</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table> -->
  <!-- close="closeAlert($index)" -->

  <div ng-show="showTable">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" >{{alert.msg}}</alert>
  </div>

  <div ng-show="showTable" id="container">
    <div id="row">

  	  <div id="left">
  		  <table cellspacing='0'>
        <!-- Table Header -->
        <thead>
          <tr>
            <th> Diseases </th>
            <th> {{ user1.name }} Risk </th>
            <th> {{ user2.name }} Risk </th>
            <th> Compared </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='rask in combined.risks'>
            <td class={{rask.firstWins}}>{{rask.description}}</td>
            <td class={{rask.firstWins}}>{{rask.firstRisk * 100  | number : 2 }}%</td>
            <td class={{rask.firstWins}}>{{rask.secondRisk * 100 | number : 2 }}%</td>
            <td class={{rask.firstWins}}>{{rask.firstWins}}</td>
          </tr>
        </tbody>
      </table>
  	  </div>

  	  <!-- <div id="middle">
  		    <h4>Middle Col</h4>
  		     <p>...</p>
  	  </div> -->

  	  <div id="right">
    	    <table cellspacing='0'>
           <!-- Table Header -->
           <thead>
             <tr>
               <th> Inherited Conditions </th>
               <th> {{ user1.name }} mutations</th>
               <th> {{ user2.name }} mutations</th>
               <th> Compared </th>
             </tr>
           </thead>
           <tbody>
             <tr ng-repeat='carrier in combined.carriers'>
               <td class={{carrier.firstWins}}>{{carrier.description}}</td>
               <td class={{carrier.firstWins}}>{{carrier.firstMutations }}</td>
               <td class={{carrier.firstWins}}>{{carrier.secondMutations }}</td>
               <td class={{carrier.firstWins}}>{{carrier.firstWins}}</td>
             </tr>
           </tbody>
         </table>
  	  </div>

	  </div>
  </div>

  </section>
  <script src="lib/angular-charts.js"></script>
</div>
